<!DOCTYPE html>
<html lang="pl" ng-app="projectMiss">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../style/style.css">
    <script type="text/javascript" src="../app/app.js"></script>
    <script type="text/javascript" src="../app/controllers/check.js"></script>
    <script type="text/javascript" src="../app/js/script.js"></script>

    <title>GdzieJestMojTramwajProject</title>
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">GdzieJestMojTramwajProject</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="mapa.html">Mapa</a></li>
                        <li><a href="about.html">O nas</a></li>
                        <li><a href="contact.html">Kontakt</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="well" id="temporaryMapPanel">
            <div class="row">
                <div class="col-lg-5">
                    <div class="btn-group">
                        <button type="button" id="linia" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Linia: <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <button type="button" id="kierunek" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Kierunek: <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <button type="button" id="zprzystanek" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Z przystanku: <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <button type="button" id="doprzystanek" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Do przystanku: <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="HH:MM">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Aktualna godzina</button>
                    </div>
                </div>  
                <div class="col-lg-1">
                    <div class="btn-group">
                        <button type="button" id="wyszukaj" class="btn btn-default " >Wyszukaj!</button>
                    </div>
                </div>
            </div>
        </div>
        
        
        
        <div class="container" ng-controller="backendTests">
            <div>
                <h3>Healthcheck</h3>
                <button ng-click="healthcheck()">Check backend response</button>                {{healthcheckResult.status}} {{healthcheckResult.number}}
            </div>
            <div>
                <input type="text" ng-model="logsAmount" />
                <button ng-click="getstatus(logsAmount)">Get status</button>
                <table>
                    <tr>
                        <th>Time</th>
                        <th>Log</th>
                    </tr>
                    <tr ng-repeat="log in logs">
                        <td>{{ log[0] }}</td>
                        <td>{{ log[1] }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <footer>
    </footer>
</body>

</html>
